<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="revisiones">
        <div class="container">
            <div class="row">
                <h3>Revisiones</h3>
            </div>

            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/revisiones/create/}+${trabajador.codigo}" class="btn btn-primary btn-sm mb-3">Pasar revisión</a>
                </div>
            </div>
    
            <div class="row">
                <table class="table table-striped table-hover">
                    <caption>Lista de revisiones</caption>
    
                    <thead>
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Descripción</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr th:each="revision : ${revisiones}">
                            <th th:text="${revision.fecha}" scope="row">1</th>
                            <td th:text="${revision.descripcion}">Mark</td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/revisiones/edit/}+${revision.id}" href="#"
                                    role="button"><i class="bi bi-pencil-square"></i></a>
                                <a class="btn btn-danger" th:href="@{/revisiones/delete/}+${revision.id}" href="#"
                                    role="button"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>