<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/header :: header" />

<body>
    <div th:replace="commons/menu :: menu" />

    <div class="container">
        <main>
            <div class="row">
                <div class="col">
                    <h4 class="mb-3">Datos Trabajador</h4>

                    <form class="needs-validation" method="post" th:action="@{/trabajadores/save}" novalidate>
                        <div class="row g-4">
                            <input type="hidden" name="empresa_codigo" th:value="${empresa.codigo}">
                            
                            <div class="col-sm-6">
                                <label for="nombre" class="form-label">Nombre</label>

                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="" th:value="${trabajador.nombre}" value="" required>

                                <div class="invalid-feedback">
                                    Nombre requerido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="lastName" class="form-label">Apellidos</label>

                                <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="" th:value="${trabajador.apellidos}" value="" required>
                                
                                <div class="invalid-feedback">
                                    Apellidos requeridos.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="email" class="form-label">Email</label>

                                <input type="text" class="form-control" id="email" name="email" placeholder="" th:value="${trabajador.email}" value="" required>
                                
                                <div class="invalid-feedback">
                                    Email requerido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="telefono" class="form-label">Teléfono</label>

                                <input type="text" class="form-control" id="telefono" name="telefono" placeholder="" th:value="${trabajador.telefono}" value="" required>
                                
                                <div class="invalid-feedback">
                                    Teléfono requerido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="direccion" class="form-label">Dirección</label>

                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="" th:value="${trabajador.direccion}" value="" required>
                                
                                <div class="invalid-feedback">
                                    Dirección requerido.
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <label for="dni" class="form-label">DNI</label>

                                <input type="text" class="form-control" id="dni" name="dni" placeholder="" th:value="${trabajador.dni}" value="" required>
                                
                                <div class="invalid-feedback">
                                    DNI requerido.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <div class="col-sm-12">
                            <div class="btn-group">
                                <button class="btn btn-success" type="submit">Crear</button>
                                <a class="btn btn-danger" th:href="@{/trabajadores/list}" href="#" role="button">Cancelar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </div>

    <div th:replace="commons/footer :: footer" class="container"></div>

</body>

</html>